<div class="content">
  <div class="row">
    <div class="col-md-2">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">الاعدادات الرئيسية</h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <a class="active" routerLink="/military/area"><i class="fa fa-circle-o"></i>
                مناطق التجنيد
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/military/status"><i class="fa fa-circle-o"></i>
                حالات التجنيد
              </a>
            </li>
            <li class="list-group-item">
              <a class="active" routerLink="/military/area-submission"><i class="fa fa-circle-o"></i>
                 ادارة مناطق التجنيد
              </a>
            </li>
            
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



