<div class="box box-default">
  <div class="box-body">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
      اضافة مؤهل دراسى
    </button>
    <button style="display: none;" type="button" id="openModal" class="btn btn-info" data-toggle="modal" data-target="#modal-default-edit">
    </button>
  </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">اضافة مؤهل دراسى</h4>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        </div>
        <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="create()" autocomplete="off">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'qualification' | trans }}<span
                style="color: red">*</span></label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'qualification' | trans }}">
                  <div *ngIf="(name.touched || name.dirty) && name.invalid">
                    <div class="alert alert-danger" *ngIf="name.errors?.required">
                        <p>من فضلك ادخل اسم المؤهل</p>
                    </div>
                  </div>
                </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'qualification grade' | trans }}<span
                style="color: red">*</span></label>
              <input formControlName="grade" type="number" class="form-control" id="exampleInputEmail1" placeholder="{{ 'qualification grade' | trans }}">
                <div *ngIf="(grade.touched || grade.dirty) && grade.invalid">
                  <div class="alert alert-danger" *ngIf="grade.errors?.required">
                      <p>من فضلك ادخل درجة المؤهل</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'notes' | trans }}</label>
              <textarea formControlName="notes" type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'notes' | trans }}">
              </textarea>
                
            </div>
          </div>
          <div class="box-footer">
            <button [disabled]="callForm.invalid || isSubmitClick" type="submit" class="btn btn-primary" >حفظ</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="modal-default-edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل البيانات</h4>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="onSubmit()"
          autocomplete="off">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'qualification' | trans }}<span
                style="color: red">*</span></label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'qualification' | trans }}">
                  <div *ngIf="(name.touched || name.dirty) && name.invalid">
                    <div class="alert alert-danger" *ngIf="name.errors?.required">
                        <p>من فضلك ادخل اسم المؤهل</p>
                    </div>
                  </div>
                </div>
          
          
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'qualification grade' | trans }}<span
                style="color: red">*</span></label>
              <input formControlName="grade" type="number" class="form-control" id="exampleInputEmail1" placeholder="{{ 'qualification grade' | trans }}">
                <div *ngIf="(grade.touched || grade.dirty) && grade.invalid">
                  <div class="alert alert-danger" *ngIf="grade.errors?.required">
                      <p>من فضلك ادخل درجة المؤهل</p>
                  </div>
                </div>
            </div>
          
          
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'notes' | trans }}</label>
              <textarea formControlName="notes" type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'notes' | trans }}">
              </textarea>
                
            </div>
          </div>
          <div class="box-footer">
            <button [disabled]="callForm.invalid || isSubmitClick" type="submit" class="btn btn-primary">تعديل</button>
            &nbsp;
            <button type="button" id="cancell" class="btn btn-danger" data-dismiss="modal">الغاء</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="box">
  <div class="box-header">
  </div>
  <div class="box-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>اسم المؤهل</th>
        <th>درجة القبول</th>
        <th>ملاحظات</th>
        <th>الاجراءات</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.grade }}</td>
        <td>{{ row.notes }}</td>
        <td>
          <button class="btn btn-info" type="button" (click)="getItemData(row.id)">
            <i class="fa fa-edit"></i>
          </button>
          &nbsp;
          <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal-danger" (click)="launchModal(row.id)">
            <i class="fa fa-trash-o"></i>
          </button>
          <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">هل انت متأكد من حذف هذا العنصر</h4>
                </div>
                <div class="modal-body">
                  <p>عند حذف هذا العنصر لايمكن استرجاعه مرة اخرى&hellip;</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline" (click)="delete()">حذف</button>
                  &nbsp;
                  <button type="button" id="cancello" class="btn btn-outline pull-left"
                    data-dismiss="modal">الغاء</button>

                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>اسم المؤهل</th>
        <th>درجة القبول</th>
        <th>ملاحظات</th>
        <th>الاجراءات</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>