<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12">
    <div class="w3-white material-shadow box box-primary">
      <div class="box-header w3-xlarge">
        {{ "translations" | trans }}
      </div>
      <br>
      <div class="border-bottom-dashed" ></div>
      <br>
 
      <div class="box-body w3-padding" > 
          <table class=" table" > 
              <tr class="w3-border-bottom" >
                  <th>#</th>
                  <th>{{ "key" | trans }}</th>
                  <th>{{ "name_en" | trans }}</th>
                  <th>{{ "name_ar" | trans }}</th>
                </tr>
          </table>
        <div style="height: 400px;overflow: auto;">
            <table class=" table" > 
                <tr  *ngIf="!translationList" >
                  <th colspan="4" >
                    <div class="text-center w3-padding" >
                      <i class="w3-xlarge fa fa-spinner fa-spin w3-text-indigo"></i>
                    </div>
                  </th>
                </tr>
                
                <tr *ngFor="let item of translationList index as i" >
                  <td>{{ i + 1 }}</td>
                  <td>
                    <input type="text" class="w3-input w3-block" readonly style="border: none;border: 1px dashed gray;" [(ngModel)]="item.key" >
                  </td>
                  <td>
                    <input type="text" class="w3-input w3-block" style="border: none;border: 1px dashed gray;" [(ngModel)]="item.name_en" >
                  </td>
                  <td>
                    <input type="text" class="w3-input w3-block" style="border: none;border: 1px dashed gray;" [(ngModel)]="item.name_ar" >
                  </td> 
                </tr>
              </table>
        </div>
        <br>
      </div>
      <div class="box-footer">
        <button class="btn btn-primary" [disabled]="isUpdate" (click)="updateTranslation()" >{{ "save changes" | trans }}</button>
      </div>
    </div>
  </div>
</div>
 
