<div class="row">
  <div class="col-lg-10">
    <div class="w3-white material-shadow safe-box">

      <div class="safe-box-header w3-xlarge">
        {{ "student affairs" | trans }}
      </div>
      <div class="border-bottom-dashed"></div>
      <br>

      <div class="safe-box-body row">

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="custom-panel w3-display-container w3-round">
            <div class="custom-panel-body">

              <button
              [routerLink]="['/affairs/students']" [queryParams]="{col: 'col-lg-12'}"
              class="btn btn-default w3-block small-shadow btn-margin-bottom">{{ "students" | trans }}</button>

              <button
              [routerLink]="['/affairs/students/create']" [queryParams]="{col: 'col-lg-12'}"
              class="btn btn-default w3-block small-shadow btn-margin-bottom">{{ "add student" | trans }}</button>

              <button
              [routerLink]="['/affairs/applications']" [queryParams]="{col: 'col-lg-12'}"
              class="btn btn-default w3-block small-shadow btn-margin-bottom">{{ "applications" | trans }}</button>

              <button
              [routerLink]="['/affairs/applications/create']" [queryParams]="{col: 'col-lg-12'}"
              class="btn btn-default w3-block small-shadow btn-margin-bottom">{{ "add application" | trans }}</button>



            </div>

          </div>


        </div>

        <div class="col-lg-9 col-md-9 col-sm-12">
          <div style="height: 70vh;overflow: auto;" >
            <router-outlet></router-outlet>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-2" style="padding: 0px!important">


  </div>
</div>
