 <div class="box box-default">
  <div class="box-body">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
      اضافة عام دراسي جديد
    </button>
  </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">اضافة عام دراسي جديد</h4>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        </div>
        <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="create()" autocomplete="off">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">بداية العام الدراسى<span
                style="color: red">*</span></label>
              <input formControlName="start_date" type="date" class="form-control" id="exampleInputEmail1" placeholder="ادخل بداية العام الدراسى">
             <div *ngIf="(start_date.touched || start_date.dirty) && start_date.invalid">
                <div class="alert alert-danger" *ngIf="start_date.errors?.required">
                    <p>من فضلك ادخل بداية العام</p>
                </div>
               </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">نهاية العام الدراسى<span
                style="color: red">*</span></label>
              <input formControlName="end_date" type="date" class="form-control" id="exampleInputEmail1" placeholder="ادخل نهاية العام الدراسى">
             <div *ngIf="(end_date.touched || end_date.dirty) && end_date.invalid">
                <div class="alert alert-danger" *ngIf="end_date.errors?.required">
                    <p>من فضلك ادخل نهاية العام</p>
                </div>
               </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">ملاحظات</label>
                <textarea class="form-control" formControlName="notes" rows="10" cols="50">
                  
                </textarea>
            </div>
          </div>

         
          

          <div class="box-footer">
            <button [disabled]="callForm.invalid || isSubmitClick" type="submit" class="btn btn-primary" >حفظ</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>


<div class="box">
  <div class="box-header">
  </div>
  <div class="box-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>عام دراسى</th>
        <th>يبدأ فى</th>
        <th>ينتهى فى</th>
        <th>ملاحظات</th>
        <th>الاجراءات</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.start_date }}</td>
        <td>{{ row.end_date }}</td>
        <td>{{ row.notes }}</td>
        <td>
          <button class="btn btn-info" type="button" routerLink='/settings/academic-year/edit/{{row.id}}'>
            <i class="fa fa-edit"></i>
          </button>
          &nbsp;
          <button class="btn btn-danger" type="button" (click)="delete(row.id)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>عام دراسى</th>
        <th>يبدأ فى</th>
        <th>ينتهى فى</th>
        <th>ملاحظات</th>
        <th>الاجراءات</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
