<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">تعديل المحافظة</h3>
  </div>
  <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">اسم المحافظة</label>
        <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="ادخل اسم الدولة">
      </div>
      <div class="form-group">
        <label>الدولة
          <span style="color: red">*</span>
        </label>
        <select class="form-control" formControlName="country_id">
          <option value="{{row.id}}" *ngFor='let row of countries'>{{row.name}}</option>
        </select>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary">حفظ</button>
      &nbsp;
      <a routerLink='/settings/government' class="btn btn-info">الغاء</a>
    </div>
  </form>
</div>