
<div class="box">
  <div class="box-header">
  </div>
  <div class="box-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{ 'name' | trans }}</th>
          <th>{{ 'government' | trans}}</th>
          <th>{{ 'country' | trans}}</th>
          <th>{{ 'notes' | trans}}</th>
          <th>الاجراءات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.government.name }}</td>
          <td>{{ row.government.country.name }}</td>
          <td>{{ row.notes }}</td>
          <td>
            <button class="btn btn-info" type="button" routerLink='/settings/country/edit/{{row.id}}'>
              <i class="fa fa-edit"></i>
            </button>
            &nbsp;
            <button class="btn btn-danger" type="button" (click)="delete(row.id)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>{{ 'name' | trans }}</th>
          <th>{{ 'government' | trans}}</th>
          <th>{{ 'country' | trans}}</th>
          <th>{{ 'notes' | trans}}</th>
          <th>الاجراءات</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>