<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">تعديل الدولة</h3>
  </div>
  <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">{{ 'qualification' | trans }}<span
          style="color: red">*</span></label>
        <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'qualification' | trans }}">
            <div *ngIf="(name.touched || name.dirty) && name.invalid">
              <div class="alert alert-danger" *ngIf="name.errors?.required">
                  <p>من فضلك ادخل اسم المؤهل</p>
              </div>
            </div>
          </div>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">{{ 'qualification grade' | trans }}<span
          style="color: red">*</span></label>
        <input formControlName="grade" type="number" class="form-control" id="exampleInputEmail1" placeholder="{{ 'qualification grade' | trans }}">
          <div *ngIf="(grade.touched || grade.dirty) && grade.invalid">
            <div class="alert alert-danger" *ngIf="grade.errors?.required">
                <p>من فضلك ادخل درجة المؤهل</p>
            </div>
          </div>
      </div>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">{{ 'notes' | trans }}</label>
        <textarea formControlName="notes" type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ 'notes' | trans }}">
        </textarea>
          
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary">حفظ</button>
      &nbsp;
      <a routerLink='/settings/qualifications' class="btn btn-info">الغاء</a>
    </div>
  </form>
</div>