<app-breadcrumb [breadcrumbList]="breadcrumbList"></app-breadcrumb>

<div class="material-shadow w3-white" >
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ "name" | trans }}</th>
        <th>{{ "value" | trans }}</th>
        <th>{{ "except_level" | trans }}</th>
        <th>{{ "division" | trans }}</th>
        <th>{{ "copy" | trans }}</th>
        <th>{{ "repeat" | trans }}</th>
        <th>{{ "additional_value" | trans }}</th>
        <th>{{ "installment_percent" | trans }}</th>
        <th>{{ "from_installment" | trans }}</th>
        <th>{{ "store" | trans }}</th>
        <th>{{ "type" | trans }}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of serviceList index as i" >
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.value | currency: ' EGP'  }}</td>
        <td>{{ item.level? item.level.name : '' }}</td>
        <td>{{ item.division? item.division.name : '' }}</td>
        <td>
          <i *ngIf="item.copy" class="fa fa-check-square w3-text-green" ></i>
          <i *ngIf="!item.copy" class="fa fa-close w3-text-red" ></i>
        </td>
        <td>
          <i *ngIf="item.repeat" class="fa fa-check-square w3-text-green" ></i>
          <i *ngIf="!item.repeat" class="fa fa-close w3-text-red" ></i>
        </td>
        <td>{{ item.additional_value | currency: ' EGP' }}</td>
        <td>{{ item.installment_percent | percent }}</td>
        <td>{{ item.from_installment }}</td>
        <td>{{ item.store? item.store.name : '' }}</td>
        <td>{{ item.type }}</td>
        <td>

        </td>
      </tr>
      <app-service-create [parent]="self" ></app-service-create>
    </tbody>
  </table>

</div>
