<!-- <div class="box box-default">
  <div class="box-body">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
      اضافة دولة جديدة
    </button>
  </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">اضافة دولة جديدة</h4>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        </div>
        <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="create()" autocomplete="off">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">اسم الدولة<span
                style="color: red">*</span></label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="ادخل اسم الدولة">
             <div *ngIf="(name.touched || name.dirty) && name.invalid">
                <div class="alert alert-danger" *ngIf="name.errors?.required">
                    <p>من فضلك ادخل اسم الدولة</p>
                </div>
               </div>
            </div>
          </div>
          <div class="box-footer">
            <button [disabled]="callForm.invalid || isSubmitClick" type="submit" class="btn btn-primary" >حفظ</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div> -->


<div class="box">
  <div class="box-header">
  </div>
  <div class="box-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>{{ 'name' | trans }}</th>
        <th>{{ 'qualification' | trans}}</th>
        <th>{{ 'level name' | trans}}</th>
        <th>{{ 'grade' | trans}}</th>
        <th>{{ 'percentage' | trans}}</th>
        <th>{{ 'notes' | trans}}</th>
        <th>الاجراءات</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.qualification.name }}</td>
        <td>{{ row.level.name }}</td>
        <td>{{ row.grade }}</td>
        <td>{{ row.percentage }}</td>
        <td>{{ row.notes }}</td>
        <td>
          <button class="btn btn-info" type="button" routerLink='/settings/country/edit/{{row.id}}'>
            <i class="fa fa-edit"></i>
          </button>
          &nbsp;
          <button class="btn btn-danger" type="button" (click)="delete(row.id)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>{{ 'name' | trans }}</th>
        <th>{{ 'qualification' | trans}}</th>
        <th>{{ 'level name' | trans}}</th>
        <th>{{ 'grade' | trans}}</th>
        <th>{{ 'percentage' | trans}}</th>
        <th>{{ 'notes' | trans}}</th>
        <th>الاجراءات</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
