<div class="box box-default">
  <div class="box-body">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
      اضافة مستخدم
    </button>
    <button style="display: none;" type="button" id="openModal" class="btn btn-info" data-toggle="modal" data-target="#modal-default-edit">
    </button>
  </div>
</div>


<div class="modal fade" id="modal-default-edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تعديل البيانات</h4>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="onSubmit()"
          autocomplete="off">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'name' | trans }}<span style="color: red">*</span></label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'name' | trans }}">
              <div *ngIf="(name.touched || name.dirty) && name.invalid">
                <div class="alert alert-danger" *ngIf="name.errors?.required">
                  <p>من فضلك ادخل اسم المستخدم </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'username' | trans }}<span style="color: red">*</span></label>
              <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'username' | trans }}">
              <div *ngIf="(username.touched || username.dirty) && username.invalid">
                <div class="alert alert-danger" *ngIf="username.errors?.required">
                  <p>من فضلك ادخل اسم المستخدم </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'phone' | trans }}<span style="color: red">*</span></label>
              <input formControlName="phone" type="number" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'phone' | trans }}">
              <div *ngIf="(phone.touched || phone.dirty) && phone.invalid">
                <div class="alert alert-danger" *ngIf="phone.errors?.required">
                  <p>من فضلك ادخل تليفون المستخدم </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'roles' | trans }}<span style="color: red">*</span></label>
              <select class="form-control" formControlName="role_id">
                <option value="{{row.id}}" *ngFor='let row of roles'>{{row.name}}</option>
              </select>
              <div *ngIf="(role_id.touched || role_id.dirty) && role_id.invalid">
                <div class="alert alert-danger" *ngIf="role_id.errors?.required">
                  <p>من فضلك اختر وظيفة المستخدم </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'password' | trans }}<span style="color: red">*</span></label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'password' | trans }}">
                <div *ngIf="(password.touched || errorMessage) && password.invalid" class="custom-error alert alert-danger">
                  <span *ngIf="password.errors.required">من فضلك ادخل كلمة المرور</span>
                  <span *ngIf="password.errors.minlength">كلمة المرور يجب ان لا تقل عن 8 احرف</span>
                </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'email' | trans }}<span style="color: red">*</span></label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'email' | trans }}">
              <div *ngIf="(email.touched || email.dirty) && email.invalid">
                <div class="alert alert-danger" *ngIf="email.errors?.required">
                  <p>من فضلك ادخل البريد الاليكترونى  </p>
                </div>
                <div class="alert alert-danger" *ngIf="email.errors?.email">
                  <p>من فضلك ادخل  بريد اليكترونى صحيح </p>
                </div>
              </div>
            </div>

            

            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'notes' | trans }}</label>
              <textarea formControlName="notes" type="text" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'notes' | trans }}">
                </textarea>
            </div>
          </div>
          <div class="box-footer">
            <button [disabled]="callForm.invalid || isSubmitClick" type="submit" class="btn btn-primary">تعديل</button>
            &nbsp;
            <button type="button" id="cancell" class="btn btn-danger" data-dismiss="modal">الغاء</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">اضافة مستخدم</h4>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <form role="form" [hidden] class="forms-sample create" [formGroup]="callForm" (ngSubmit)="create()"
          autocomplete="off">
          <div class="box-body">

            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'name' | trans }}<span style="color: red">*</span></label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'name' | trans }}">
              <div *ngIf="(name.touched || name.dirty) && name.invalid">
                <div class="alert alert-danger" *ngIf="name.errors?.required">
                  <p>من فضلك ادخل اسم المستخدم </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'username' | trans }}<span style="color: red">*</span></label>
              <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'username' | trans }}">
              <div *ngIf="(username.touched || username.dirty) && username.invalid">
                <div class="alert alert-danger" *ngIf="username.errors?.required">
                  <p>من فضلك ادخل اسم المستخدم </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'phone' | trans }}<span style="color: red">*</span></label>
              <input formControlName="phone" type="number" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'phone' | trans }}">
              <div *ngIf="(phone.touched || phone.dirty) && phone.invalid">
                <div class="alert alert-danger" *ngIf="phone.errors?.required">
                  <p>من فضلك ادخل تليفون المستخدم </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'email' | trans }}<span style="color: red">*</span></label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'email' | trans }}">
              <div *ngIf="(email.touched || email.dirty) && email.invalid">
                <div class="alert alert-danger" *ngIf="email.errors?.required">
                  <p>من فضلك ادخل البريد الاليكترونى  </p>
                </div>
                <div class="alert alert-danger" *ngIf="email.errors?.email">
                  <p>من فضلك ادخل  بريد اليكترونى صحيح </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'password' | trans }}<span style="color: red">*</span></label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'password' | trans }}">
                <div *ngIf="(password.touched || errorMessage) && password.invalid" class="custom-error alert alert-danger">
                  <span *ngIf="password.errors.required">من فضلك ادخل كلمة المرور</span>
                  <span *ngIf="password.errors.minlength">كلمة المرور يجب ان لا تقل عن 8 احرف</span>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'notes' | trans }}</label>
              <textarea formControlName="notes" type="text" class="form-control" id="exampleInputEmail1"
                placeholder="{{ 'notes' | trans }}">
                </textarea>

            </div>
          </div>
          <div class="box-footer">
            <button [disabled]="callForm.invalid || isSubmitClick" type="submit" class="btn btn-primary">حفظ</button>
            &nbsp;
            <button type="button" id="cancel" class="btn btn-danger" data-dismiss="modal">cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="box">
  <div class="box-header">
  </div>
  <div class="box-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{'image' | trans}}</th>
          <th>{{ 'name' | trans}}</th>
          <th>{{'username' | trans}}</th>
          <th>{{'roles' | trans}}</th>
          <th>{{'phone' | trans}}</th>
          <th>{{'email' | trans}}</th>
          <th>{{ 'notes' | trans}}</th>
          <th>الاجراءات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows index as i">
          <td>{{ i + 1 }}</td>
          <td>
            <div class="user-panel">
              <div class="image">
                <img src="{{publicUrl +'/'+ row.image}}" class="img-circle" alt="User Image">
              </div>
            </div>
            <!-- <img src="{{publicUrl +'/'+ row.image}}" class="user-image"> -->
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.username }}</td>
          <td>{{ row.role.name }}</td>
          <td>{{ row.phone }}</td>
          <td>{{ row.email }}</td>

          <td>{{ row.notes }}</td>
          <td>
            <button class="btn btn-info" type="button" (click)="getItemData(row.id)">
              <i class="fa fa-edit"></i>
            </button>
            &nbsp;
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal-danger" (click)="launchModal(row.id)">
              <i class="fa fa-trash-o"></i>
            </button>
            <div class="modal modal-danger fade" id="modal-danger">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">هل انت متأكد من حذف هذا العنصر</h4>
                  </div>
                  <div class="modal-body">
                    <p>عند حذف هذا العنصر لايمكن استرجاعه مرة اخرى&hellip;</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="delete()">حذف</button>
                    &nbsp;
                    <button type="button" id="cancello" class="btn btn-outline pull-left"
                      data-dismiss="modal">الغاء</button>

                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>{{'image' | trans}}</th>
          <th>{{ 'name' | trans}}</th>
          <th>{{'username' | trans}}</th>
          <th>{{'roles' | trans}}</th>
          <th>{{'phone' | trans}}</th>
          <th>{{'email' | trans}}</th>
          <th>{{ 'notes' | trans}}</th>
          <th>الاجراءات</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
