<app-create-country></app-create-country>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Data Table With Full Features</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>الاسم</th>
        <th>ملاحظات</th>
        <th>الاجراءات</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.notes }}</td>
        <td>
          <button class="btn btn-info" type="button" routerLink='/settings/country/edit/{{row.id}}'>
            <i class="fa-edit"></i>
          </button>
          &nbsp;
          <button class="btn btn-danger" type="button" (click)="delete(row.id)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>الاسم</th>
        <th>ملاحظات</th>
        <th>الاجراءات</th>

      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
